p {
    margin-top: 5px;
}
.btn-img {
    border: none;
    color: none;
    border-radius: none;
    background-color: transparent;
}
.btn-img:active {
    color: yellow;
    font-size: 20px;
    transition: 0.1s;
}
.button-list {
    background: linear-gradient(to right, #7a7fba, #11c37c);
}
